*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#characters {
  display: flex;
}

#main-body {
  position: relative;
  background-size:contain;
  max-width: 100%;
  max-height: fit-content;
}

.counter {
    flex: 0 1 50%;
    font-size: 30px;
    background-color: #404549;
    border-radius: 5px;
    padding: 10px 12px;
    color: white;
    margin-left: 0.1rem;
}

.counter-colon {
  font-size: 50px;
  color: #404549;
}

#context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;

}

.char {
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-wrap: wrap;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  transition: .5s;
}

.bounce-in {
  animation: bounceIn 0.5s;
}



#left, #right {
  margin-top: 2rem;
}



.char:hover{
  opacity: 0.8;
    box-shadow: 0 5px 10px black; 
  }


#main-section {
  margin: 2rem;
}

#takeover {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #404549;
}

#target {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: dashed;
  border-color: coral;
  border-width: 2px;
}


@keyframes bounceIn {
  0% { opacity: 0; transform: scale(.3);}
  50% { opacity: 1; transform: scale(1.05);}
  70% {transform: scale(.9);}
  100% {transform: scale(1);}
} 

