*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color:floralwhite
}

.container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  height: 100vh;
}


.header {
  background-color:rgba(255, 250, 240, 0.425);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  align-items: center;
  align-content: center;
  text-align: center;
  position: sticky;
  top: 0;
  position: sticky;
  z-index: 1;
}
#characters {
  display: flex;
}

#main-body {
  position: relative;
  background-size:contain;
  max-width: 100%;
  max-height: fit-content;
}

.counter {
    flex: 0 1 50%;
    font-size: 30px;
    background-color: #404549;
    border-radius: 5px;
    padding: 10px 12px;
    color: white;
    margin-left: 0.1rem;
}

.counter-colon {
  font-size: 50px;
  color: #404549;
}

#context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;

}

.char {
  background-color: #404549be;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-wrap: wrap;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  transition: .5s;
}

.char-select {
  border-color: #404549;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-width: 5px;
  border-style: dashed;
  flex-wrap: wrap;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  transition: .5s;
}

.char-welcome {
  border-color: #404549;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-width: 5px;
  border-style: dashed;
  flex-wrap: wrap;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  transition: .5s;
}

.bounce-in {
  animation: bounceIn 0.5s;
}



#left, #right {
  margin-top: 2rem;
}



.char:hover{
  opacity: 0.8;
    box-shadow: 0 5px 10px black; 
  }



#takeover {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #404549;
}

#target {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: dashed;
  border-color: coral;
  border-width: 2px;
}


.gradient-text {
  background-color: #CA4246;
  background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}



.loader {
  width: 100vw;
  height: 100vh;
  background-color: #40454983;
  z-index: -1;
}

/* Rainbow loader  */

.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}


.char-loader {
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 




.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.char-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cross {

  opacity: 0.8;
  width: 110%;
  height: 110%;
}

#header {
  top: -100px;
  transition: top 0.5s ease-in-out;
}

#header.sticky {
  position: sticky;
  top: 0;
}


@keyframes spin {
  0%, 15% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}


@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  

@keyframes bounceIn {
  0% { opacity: 0; transform: scale(.3);}
  50% { opacity: 1; transform: scale(1.05);}
  70% {transform: scale(.9);}
  100% {transform: scale(1);}
} 

@media (max-width: 1024px) {
  .char {
    width: 50px;
    height: 50px;
  }

  .char-select {
    width: 50px;
    height: 50px;
  }

  #context {
    height: 100px;
  }

  .counter {
    flex: 0 1 50%;
    font-size: 15px;
    background-color: #404549;
    border-radius: 5px;
    padding: 5px 6px;
    color: white;
}

.counter-colon {
  font-size: 25px;
  color: #404549;
}

.char-welcome {
  width: 100px;
  height: 100px;
}


}

@media (min-width: 1024px) {


  .char {
    width: 75px;
    height: 75px;
  }



  #left {

    position: absolute;
    left: -25px;
    top: -22px;

  }
  #right{
    position: absolute;
    right: -170px;
    top: -22px;


  }
  #mid {
    position: absolute;
    right: -110px;
    top: -35px;

  }

  #target {
    right: -90px;
  }
}